body {
    background: rgb(183, 225, 228);
}

#show-ket-qua-bt1,
#show-ket-qua-bt2,
#show-ket-qua-bt3{
    display: none;
    width: fit-content;
}

.divChan {
    width: 100%;
    height: 50px;
    background: red;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.divLe {
    width: 100%;
    height: 50px;
    background: blue;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}